all:
  children:
    hypervisor:
      hosts:
        proxmox:
          ansible_host: 192.168.1.10
          ansible_user: root
          ansible_become: true
          ansible_become_user: root
          proxmox:
            opentofu_user: 'tofu@pam'
            opentofu_token: '{{ opentofu_token }}'
            opentofu_role: 'TofuRole'
